<div class='container'>
  <form action='/query' method='post'>
    <input type='text' name='guide_query' placeholder='Type your search'>
    <input type='submit' value='Go'>
  </form>
  <h2>Active Record</h2>
  <% Guide.all.each do |guide| %>
    <a href='/<%= guide.name %>'><%= guide.name %></a>
  <% end %>
</div>
