<%=puts "this page"%>
<div class="new_guide">
	<h1>Welcome</h1>
  	<form action="/new_guide/new_post" method="post" >
	    <label for='name'>Guide Name</label>
	    <input type='text' id='name' name='new_guide[name]'>
	    <label for='topic'>Topic</label>
	    <input type='text' id='topic' name='topic[name]'>
	    <label for='explanation'>Explanation</label>
	    <input type='text' id='explanation' name='new_guide[explanation]'>
	    <input type='submit' id='submit' value='Post it!'>	    	    
	</form>

</div>